<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controllers.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionController</servlet-name>
        <servlet-class>Controllers.sessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaController</servlet-name>
        <servlet-class>Controllers.altaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedidoController</servlet-name>
        <servlet-class>Controllers.pedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>envioController</servlet-name>
        <servlet-class>Controllers.envioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>telefonoController</servlet-name>
        <servlet-class>Controllers.telefonoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionController</servlet-name>
        <url-pattern>/sessionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaController</servlet-name>
        <url-pattern>/altaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedidoController</servlet-name>
        <url-pattern>/pedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>envioController</servlet-name>
        <url-pattern>/envioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>telefonoController</servlet-name>
        <url-pattern>/telefonoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>sessionController</welcome-file>
    </welcome-file-list>
</web-app>
